.nuget/
.vs/
packages/
BIST.Aplicacion/bin/
BIST.Aplicacion/obj/
BIST.Common/bin/
BIST.Common/obj/
BIST.DataAccess/bin/
BIST.DataAccess/obj/
BIST.Dominio/bin/
BIST.Dominio/obj/
BIST.WebAPI/bin/
BIST.WebAPI/obj/
BIST.WebAPI/obj/
